<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .title }}</title>
    <link href="/static/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/clo.css" rel="stylesheet">
    <script src="/static/js/jquery-3.3.1/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap-table-master/dist/bootstrap-table.min.js"></script>
</head>
<body>

<table id="table" data-toggle="table">
    <thead>
    <tr>
    </tr>
    </thead>
</table>
</body>
</html>